body {
    margin: 15px 0;
    font-family: "Josefin Sans", sans-serif;
    color: #444;
    background: #fff;
}

h1, h2, h3, h4, h5 {
    font-family: "Josefin Sans", serif;
}

tt {
    font-family: "Fira Mono";
}

code {
    background: none;
    border: none;
    border-left: 3px solid #708090;
    padding: 0;
    font-family: "Fira Mono", monospace;
}

a {
    color: #708090;
    text-decoration: none;
    transition: 0.3s;
}

a:focus, a:hover {
    color: #708090;
}

strong {
    color: #c82829;
}

img {
    width: 100%;
    height: auto;
}

.author {
    color: #808080;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication {
    height: 180px;
}

.publication:hover .overlay {
    opacity: 1;
}

.thumbnail {
    max-width: 180px;
    max-height: 120px;
    object-fit: fill;
    width: 100%;
    border-radius: 8px;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar:hover .overlay {
    opacity: 1;
}

.material {
    width: auto;
    height: 175px;
}

.layered-paper {
    box-shadow:
        0px 0px 1px 1px #444,
        5px 5px 0 0px #fff,
        5px 5px 1px 1px #444,
        10px 10px 0 0px #fff,
        10px 10px 1px 1px #444;
}

.outline {
    box-shadow: 0px 0px 1px 1px #444;
}

.fade {
    position: absolute;
    transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
}

.overlay {
    position: relative;
    opacity: 0;
    transition: .5s ease-in-out;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
